
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]


.idea/
.ionic/

coverage/
www/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

